*{
  margin:0;
  padding:0;
  color:inherit;
  text-decoration: none;
  border:none;
  font-family:'Open Sans', sans-serif;
  font-weight:lighter;
  line-height: 1.4em;
}
body{
  margin-bottom:48px;
}
h1{
  font-size:128px;
  position:relative;
}
h2{ 
  font-size: 56px;
  margin-bottom:8px;
}
h3{ 
  font-size: 32px;
  margin-bottom:8px;
}
p{
  font-size: 16px;
  margin-bottom:8px;
}
ul{
  padding-left: 24px;
}
header{
  background:rgb(59, 151, 250);
  color:white;
  padding: 120px 64px;
}

header h3{
  font-style: italic;
}

nav{
  font-size:0;
}
nav a{
  margin-left:4px;
  font-size:16px;
  font-weight:normal;
}
section{
  padding: 64px;
}
.loco{
  background:url(loco.jpg);
  background-size: cover;
}
section .wrapper{
  background:rgba(255,255,255,0.9);
  padding:32px;
}
footer{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  box-sizing:border-box;
  padding:16px;
  background:#333333;
  color:white;
  text-align:right;
}
footer a{
  color:rgb(59, 151, 250);
}
dl{
  background:white;
  padding:16px;
}
dt{
  font-size:24px;
  color:black;
}
dd{
  font-size:16px;
  color:#333;
  border-bottom: 1px solid #333;
}
.wrapper{
  max-width:1000px;
  margin: 0 auto;
}
.wrapper img{
  width:500px;
  float:right;
}
.star{
  background: yellow;
  color: #333;
  font-size: 32px;
  line-height: 0;
  width: 200px;
  height: 0;
  padding: 100px 0;
  margin:-100px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: -50px;
  -webkit-transform: rotate(-15deg);
}
.btn{
  padding:8px;
  background:#ccc;
  color:white;
  display:inline-block;
  border-radius:4px;
  transition:background 0.5s ease-out;
}
.btn:hover{
  background:#777;
}
.btn:active{
  background:#333;
}
.text-right{
  text-align: right;
}

@media all and (max-width:550px){
  h1{
    font-size:96px;
  }
  h2{
    font-size:48px;
  }
  h3{
    font-size:24px;
  }
  .star{
    background: none;
    color: inherit;
    font-size: 32px;
    line-height: 1.2em;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    border-radius: 0;
    text-align: left;
    display: block;
    position: static;
    right: auto;
    bottom: auto;
    -webkit-transform: none;
  }
}
@media all and (max-width:520px){
  section{
    padding:32px;
  }
  header{
    padding:64px 32px;
  }
}
@media all and (max-width:450px){
  h1{
    font-size:88px;
  }
  h2{
    font-size:28px;
  }
  h3{
    font-size:20px;
  }
}
@media all and (max-width:430px){
  body{
    margin-bottom:64px;
  }
}
@media all and (max-width:400px){
  header{
    padding:32px 16px;
  }
  section{
    padding:16px;
  }
}
@media all and (max-width:320px){
  h1{
    font-size:72px;
  }
  h2{
    font-size:32px;
  }
  h3{
    font-size:16px;
  }
}